body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-image: url("images/memphis.png");
    background-repeat: repeat;
}

section {
    padding: 0;
    margin: 64px auto 0;
    width: 512px;
    background-color: #ffffffd7;
    border: solid 8px black;
    border-radius: 2px;
    box-shadow: 8px 8px #333;
}

@media (max-width: 720px) {
    section {
        margin-top: 0;
    }
}

section > div {
    padding: 512px 0 0;
    margin: 0;
    background-image: url("images/ligroll.png");
    background-repeat: no-repeat;
}


section h1 {
    padding: 0;
    margin: 0;
    font-family: "Mooli", sans-serif;
    text-align: center;
}

section > div > ul {
    list-style: none;
    margin: 0;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
}

section > div > ul > li {
    padding: 0 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 1em;
    flex: 50%;
}

section a {
    display: block;
    color: black;
    border: solid 3px black;
    border-radius: 4px;
    left: 0;
    right: 0;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    margin: 4px 4px;
    transition: color 1s, border-color 1s;
}

section > div > ul > li:nth-child(3n) a:hover {
    color: #D1439E;
    border-color: #D1439E;
    transition: color 100ms, border-color 100ms;
}

section > div > ul > li:nth-child(3n + 1) a:hover {
    color: #9724F8;
    border-color: #9724F8;
    transition: color 100ms, border-color 100ms;
}

section > div > ul > li:nth-child(3n + 2) a:hover {
    color: #38CD2C;
    border-color: #38CD2C;
    transition: color 100ms, border-color 100ms;
}

li.twitter {
    background-image: url("images/twitter.svg");
}

li.furaffinity {
    background-image: url("images/furaffinity.svg");
}

li.github {
    background-image: url("images/github.svg");
}
