body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("images/memphis.png");
    background-repeat: repeat;
}

#main {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    padding: 512px 16px 0;
    background-color: #fffc;
    background-image: url("images/ligroll.png");
    background-repeat: no-repeat;
    border: solid 8px black;
    border-radius: 2px;
    box-shadow: 8px 8px #333;
    width: 512px;
}

#main > ul {
    list-style: none;
    padding: 0;
}

#main > ul li {
    line-height: 28px;
    padding-left: 28px;
    background-repeat: no-repeat;
}

li.twitter {
    background-image: url("images/twitter.svg");
}

li.furaffinity {
    background-image: url("images/furaffinity.svg");
}

li.github {
    background-image: url("images/github.svg");
}
